h1, h2, h3, p {
  font-family: Helvetica;
}

h1 {
  color: khaki;
  font-weight: bold;
  font-size: 150px;
  text-align:center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
#brushes {
  background-color: MediumSpringGreen;
}
#frames {
  background-color: LightCoral;
}
#paint {
  background-color: skyblue;
}
